<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.vsis.drachenmobile"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="18" />

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_MOCK_LOCATION" />

    <application
        android:name="com.vsis.drachenmobile.DrachenApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity android:name="com.vsis.drachenmobile.Main_Activity" >
            <intent-filter>
            </intent-filter>
        </activity>
        <activity
            android:name="com.vsis.drachenmobile.QuestPrototype_Activity"
            android:launchMode="singleInstance" >
            <intent-filter>
            </intent-filter>
        </activity>
        <activity android:name="com.vsis.drachenmobile.Quest_overview_Activity" >
            <intent-filter>
            </intent-filter>
        </activity>
        <activity android:name="com.vsis.drachenmobile.Quest_details_Activity" >
            <intent-filter>
            </intent-filter>
        </activity>
        <activity android:name="com.vsis.drachenmobile.Login_Activity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <service android:name="com.vsis.drachenmobile.service.LocationLocalService" >
        </service>

        <receiver
            android:name="com.vsis.drachenmobile.service.StartServicesReciver"
            android:enabled="false"
            android:exported="false" >
        </receiver>
    </application>

</manifest>